<!--API Key
7dcf425006a4a9342ee8d6975483e187

API Secret
346a8d4b2ff7ef73076dbc5ebec3dbc6
-->


<include href="views/header.html"/>

<h1 class="text-danger text-center">Homeless Cats</h1><hr>

<div class="mx-3 my-3 py-3 px-4 border border-light">
    <h4 class="text-danger ">Search by Zip Code
        <input type="text" id="searchTerm">
    </h4><br>
    <button class="btn btn-info" id="search">Search</button><br><br>
</div>


<div id="name" class="row"></div>

<script>
    //search button is clicked
    $("#search").click(function(){

        //Define the variable the user enter
        var item = $("#searchTerm").val();
        $("#name").html("");

        var url = "http://api.petfinder.com/pet.find?format=json&key=7dcf425006a4a9342ee8d6975483e187&animal=cat";
        url+= "&location=" + item;
        url+=  "&output=full&callback=?";

        $.getJSON(url)
            .done(function(petApiData) {

                //alert(petApiData.petfinder.pets.pet[0].description.$t);
                $.each(petApiData.petfinder.pets.pet, function (index, pet) {
                    var output = "<div class='col-md-4 p-4 border rounded'><h3> Name: "+ pet.name.$t + "</h3>";
                    output += "<h4>Gender: "+pet.sex.$t+"&emsp;&emsp;City: "+ pet.contact.city.$t + "</h4>";
                    try{
                        output += '<img src="'+ pet.media.photos.photo[2].$t +'" ><hr>' ;
                    }
                    catch(err){

                    }
                    output += "<p> Description: " + pet.description.$t + "</p></div>";
                    $("#name").append(output);

                });

            })
            .error(function(err) { alert('Error retrieving data!');
            });

    });
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>