<!--
    cat-api.html
    Cat-Wishes Final Project
    IT-328
    Melanie Felton
    Bessy Torres-Miller

    This file has the the JSON script to use the Pet Finder API and retrieves the results
-->


<include href="views/header.html"/>

<h1 class="text-danger text-center">Homeless Cats</h1><hr>

<div class="mx-3 my-3 py-3 px-4 border border-light">
    <h4 class="text-danger ">Search by Zip Code
        <input type="text" id="searchTerm">
    </h4><br>
    <button class="btn btn-info" id="search">Search</button><br><br>
</div>


<div id="name" class="row"></div>

<!-- JQuery to use cat API -->
<script src="./scripts/catApi.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>