<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cat Wishes</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!--JQuery link-->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<link rel="shortcut icon" href="">-->

    <link href="{{ @BASE }}/styles/home.css" rel="stylesheet" type="text/css" />

</head>
<body>



<!-- navigation bar at the top -->
<header>
    <!-- Just an image -->
    <nav class="navbar navbar-light bg-faded bg-info text-white">
        <a class="navbar-brand" href="#">
            <h5>Cat Wishes</h5>
        </a>
        <ul class="list-inline">
            <li class="list-inline-item"><div class="member"></div></li>
            <li class="list-inline-item"><button id= "login" type="submit" name ="login1" class="btn btn-warning" href="./">Login</button></li>
            <li class="list-inline-item"><button id="register" type="submit" name="register" class="btn btn-warning" href="./">Register</button></li>

        </ul>
    </nav>
</header>

<script>

    formBegin = jQuery('<form action="./" method="POST">');
    formEnd = jQuery('</form>');

    user = jQuery('<li class="list-inline-item"><input class="form-control form-control-sm" type="text" id="username" placeholder="username"></li>');
    pass = jQuery('<li class="list-inline-item"><input class="form-control form-control-sm" type="text" id="password" placeholder="password"></li>');
    submit = jQuery ('<li class="list-inline-item"><button id="submit" type="submit" name="login" class="btn btn-warning" href="./">Submit</button></li>)

    $('button').click(function() {
            $('#login').hide("slow");
            $('#register').hide("slow");
            $('.member').append(user);
            $('.member').append(pass);

        }
    );

</script>
