<!--
    Cat-Wishes Final Project
    IT-328
    home.html
    Melanie Felton
    Bessy Torres-Miller

    This file is the home page of Cat-Wishes site.
    It includes the header file (nav bar) and has the carousel and top 5 cat toys.
-->


<include href="views/header.html"/>

<!-- bootstrap Grid -->
<div class="container">
          <!-- header row -->
        <div class="row" id="header">
            <div class="col-sm-12">
                <img class="img-fluid rounded mx-auto d-block align-middle" id="logo" src="images/logo.png" alt="Cat Wishes logo">
            </div>

        </div> <!--header row-->

        <!--1st row - carousel-->
        <div class="row" id="firstRow">
            <div class="col-md-12">

                <!-- carousel -->
                <div class="carousel slide" id="featured" data-ride="carousel" data-keyboard="true">
                    <div class="carousel-inner ">

                        <div class="carousel-item active">
                        <a href="./recommend/toys">
                            <img class="img-fluid rounded mx-auto d-block align-middle" src="images/carouselToys.jpg" alt="toys1">
                        </a>
                        <label class="d-none d-md-block">
                            <a href="./recommend/toys"><h4 class="text-center text-danger font-weight-bold">CAT TOYS</h4></a>

                        </label>
                        </div> <!--carousel item1-->

                        <div class="carousel-item center">
                        <a href="./recommend/food">
                            <img class="img-fluid rounded mx-auto d-block align-middle" src="images/carouselFood.jpg" alt="food">
                        </a>
                        <label class="d-none d-md-block">
                            <a href="./recommend/food"><h4 class="text-center text-danger font-weight-bold">CAT FOOD</h4></a>

                        </label>
                        </div> <!--carousel item2-->

                        <div class="carousel-item center">
                        <a href="./recommend/furniture">
                            <img class="img-fluid rounded mx-auto d-block align-middle" src="images/carouselFurniture.jpg" alt="furniture">
                        </a>
                        <label class="d-none d-md-block">
                            <a href="./recommend/furniture"><h4 class="text-center text-danger font-weight-bold">CAT FURNITURE</h4></a>

                        </label>
                        </div> <!--carousel item3-->

                        <div class="carousel-item center">
                        <a href="./recommend/vets">
                            <img class="img-fluid rounded mx-auto d-block align-middle" src="images/carouselVet.jpg" alt="vet">
                        </a>
                        <label class="d-none d-md-block">
                            <a href="./recommend/vets"><h4 class="text-center text-danger font-weight-bold">CAT VETS</h4></a>

                        </label>
                        </div> <!--carousel item4-->
                    </div>  <!-- carousel inner -->

                <!--carousel buttons-->
                <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true">
                            <span class="sr-only">Previous</span>
                          </span> <!--button to go previous in carousel images-->
                </a>
                <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true">
                            <span class="sr-only">Next</span>
                          </span> <!--button to go Next in carousel images-->
                </a>
            </div>  <!--carousel -->

        </div>  <!-- column -->
</div> <!--1st row-->

<!--2nd row-->
<div class="row">
    <div class="col-md-12">
        <h3>Top 5 Toys</h3>
    </div>
</div>

<!-- 3rd row -->
    <div class="row mb-3">
        <div class="col-md-1">
        </div>
        <repeat group="{{@pics}}" key="{{@key}}" value="{{@image}}">
            <div class="col-md-2" >
                <img class="img-fluid rounded mx-auto d-block align-middle" src="{{@image}}" alt="image">
            </div>
        </repeat>
    </div>



</div>  <!-- container-->

<!-- bootstrap jquery/popper/javascript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>


</body>
</html>