<include href="views/header.html"/>

<div class="mx-3 my-3 py-3 px-4 border border-light">

    <h1 class="row h2 text-center">Click any of the following {{ @basicObjectType}}s that your cat likes:</h1>

        <form method="post" action="#" class="row w-100 py-3">
            <repeat group="{{@Toys}}" key="{{@key}}" value="{{@value}}">
                <div class="col-md-3 py-3">
                    <input type="checkbox" name="recommends[]" value="{{@key}}"> <b>{{@key}}</b> ( <b>{{@value}}</b> )</input>
                </div>
            </repeat>
            <button class="btn btn-success btn-block btn-lg mx-3 my-3" type="submit" name="submit">Submit Recommendations</button>
        </form>

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"
        integrity="sha384-VspmFJ2uqRrKr3en+IG0cIq1Cl/v/PHneDw6SQZYgrcr8ZZmZoQ3zhuGfMnSR/F2"
        crossorigin="anonymous"></script>
</body>
</html>