<include href="views/header.html"/>


    <div class="row mx-3 my-3 py-3 px-4 border border-light">
             <h1 class="h2 text-center">2Click any of the following {{ @basicObjectType}}s that your cat likes:</h1>
            <form>
                <repeat group = "{{@Toys}}" key="{{@key}}" value="{{@value}}" >
                    <p><b>{{@key}}</b> has been recommended <b>{{@value}}</b> times</p>
                </repeat>
            </form>
    </div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"
        integrity="sha384-VspmFJ2uqRrKr3en+IG0cIq1Cl/v/PHneDw6SQZYgrcr8ZZmZoQ3zhuGfMnSR/F2"
        crossorigin="anonymous"></script>
</body>
</html>