/**
    This file has the CSS styles for the home page
    Bessy Torres-Miller
    Melanie Felton
 */
body
{
    background-image: url("../images/wallpaper.jpg");
    background-color: darksalmon;
    color: white;
}

.container{
    background: rgba(0,0,0,0.8);

}

#header{
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
}

#logo{
    margin: 0;
}

#firstRow{
    margin-bottom: 1em;
}

.carousel-item .img-fluid {
    width:80%;
}