body
{
    background-image: url("../images/wallpaper.jpg");
    background-color: darksalmon;

    background-size: 100%;

    color: white;
}

#header{
    margin-top: 2em;
    margin-bottom: 2em;
}

#logo{
    margin: 0;
}

#firstRow{
    margin-bottom: 1em;
}

.carousel-item .img-fluid {
    width:80%;
}